/*  import font */
@font-face {
  font-family: 'Newake';
  src: url('./fonts/Newake.otf');
}

.App {
  text-align: center;
  overflow: hidden;
  background: url("https://wagmi-sol.tech/images/hero-bg-2.png");
  /* background: linear-gradient(0deg, #00102c, #1F0B3A, #050B1C, black, #000816);  */
}

body {
  overflow: hidden;
  background: linear-gradient(0deg, #00102c, #1F0B3A, #050B1C, black, #1F0B3A);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"] {
  border-radius: 15px '!important';
}